name: Build Docker image Nvidia

on:
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and export
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.nvidia-gpu-vulkan
          tags: ggmlr-vulkan:latest
          outputs: type=docker,dest=/tmp/image.tar
          push: false

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: /tmp/image.tar
