name: Build Docker image AMD

on:
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push AMD image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.amd-gpu-vulkan
          push: true
          tags: |
            ghcr.io/Zabis13/ggmlr-vulkan-amd:latest
